<div class="container mt-4">
  <h2>Thêm sản phẩm</h2>

  <form (ngSubmit)="submit()">

    <!-- ================= BASIC INFO ================= -->
    <div class="card p-3 mb-3">
      <h5>Thông tin cơ bản</h5>

      {{ product | json }}

      <!-- Tên -->
      <div class="mb-3">
        <label>Tên sản phẩm</label>
        <input class="form-control" [(ngModel)]="product.name" name="name">
      </div>

      <!-- Giá -->
      <div class="mb-3">
        <label>Giá</label>
        <input type="number" class="form-control" [(ngModel)]="product.price" name="price">
      </div>

      <!-- Giảm giá -->
      <div class="mb-3">
        <label>Giá giảm</label>
        <input type="number" class="form-control" [(ngModel)]="product.discount_price" name="discount_price">
      </div>

      <!-- Số lượng -->
      <div class="mb-3">
        <label>Số lượng</label>
        <input type="number" class="form-control" [(ngModel)]="product.qty" name="qty">
      </div>

      <!-- Menu -->
      <div class="mb-3">
        <label>Loại sản phẩm</label>
        <select class="form-control" [(ngModel)]="product.menu_id" name="menu_id" (change)="loadAttributes()">
          <option *ngFor="let menu of menus()" [value]="menu.menu_id">
            {{ menu.name }}
          </option>
        </select>
      </div>

      <!-- Status -->
      <div class="mb-3">
        <label>Trạng thái</label>
        <select [(ngModel)]="product.is_active" name="is_active">
          <option [ngValue]="true">Hiển thị</option>
          <option [ngValue]="false">Ẩn</option>
        </select>
      </div>
    </div>

    <!-- ================= IMAGE ================= -->
    <div class="card p-3 mb-3">
      <h5>Hình ảnh</h5>

      <input type="file" (change)="onFileChange($event)">

      <div *ngIf="previewImage" class="mt-2">
        <img [src]="previewImage" width="120" style="border-radius:8px">
      </div>
    </div>

    <!-- ================= ATTRIBUTES ================= -->

    <div class="card p-3 mb-3">
      <h5>Thông số kỹ thuật</h5>

      <div *ngFor="let attr of attributes()" class="mb-2">

        <label>{{ attr.name }}</label>

        <input class="form-control" [(ngModel)]="attr.value" [name]="'attr_' + attr.id">

      </div>
    </div>

    <!-- ================= RELATED ================= -->
    <div class="card p-3 mb-3">
      <h5>Sản phẩm liên quan</h5>

      <div *ngFor="let p of allProducts()">
        <ng-container *ngIf="p.product_id !== product.product_id">
        <label>
          <input type="checkbox" [value]="p.product_id" [checked]="related().includes(p.product_id)" (change)="toggleRelated(p.product_id)">
          {{ p.name }}
        </label>
        </ng-container>
      </div>
    </div>

    <!-- SUBMIT -->
    <button class="btn btn-success">
      Lưu sản phẩm
    </button>

  </form>
</div>