<table class="table table-bordered">
  <thead>
    <tr>
      <th>Ảnh</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Giảm giá</th>
      <th>Tồn kho</th>
      <th>Hành động</th>
    </tr>
  </thead>

  <tbody>
    @for (product of products(); track product.product_id) {
      <tr>
        <td>
          <img [src]="product.image" width="60">
        </td>

        <td>{{ product.name }}</td>

        <td>{{ product.price | number }}</td>

        <td>{{ product.discount_price | number }}</td>

        <td>{{ product.qty }}</td>

        <td>
          <button class="btn btn-sm btn-warning"
                  (click)="goToEdit(product.product_id)">
            Edit
          </button>

          <button class="btn btn-sm btn-danger"
                  (click)="deleteProduct(product.product_id)">
            Xóa
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>