<div class="dropdown">
  <button class="btn btn-light" (click)="toggleDropdown()">
    <div class="d-flex align-items-center me-3">
      <span>Lọc</span>
    </div>

  </button>

  <select
    [(ngModel)]="status"
    (change)="filterOrders()">

    <option value="">Tất cả</option>
    <option value="pending">Chưa thanh toán</option>
    <option value="paid">Đã thanh toán</option>
    <option value="shipping">Đang giao</option>
    <option value="delivered">Đã giao</option>
    <option value="cancelled">Đã hủy</option>

  </select>
  @for (order of orders(); track order.order_id) {

<div class="card mb-3 shadow-sm" (click)="gotoOrderDetail(order.order_id)"
  style="cursor:pointer">

  <div class="card-body">

    <div class="d-flex justify-content-between">

      <div>
        <div class="fw-bold">
          Đơn hàng #{{ order.order_id }}
        </div>

        <div>
          {{ order.created_at }}
        </div>
      </div>

      <div class="text-end">

        <div class="text-success fw-bold">
          {{ order.total_price }}
        </div>

        <span class="badge bg-primary">
          {{ order.order_status }}
        </span>

      </div>

    </div>

  </div>

</div>

}
</div>