<h2>Quản lý giao dịch</h2>

<div class="filter">

  <input
    type="text"
    placeholder="Tìm mã đơn..."
    [(ngModel)]="search"
    (input)="filterOrders()">

</div>

<table class='table table-bordered'>

  <thead>
    <tr>
      <th>Mã đơn</th>
      <th>Khách hàng</th>
      <th>Tổng tiền</th>
      <th>Trạng thái</th>
      <th>Ngày đặt</th>
      <th>Thao tác</th>
    </tr>
  </thead>

  <tbody>

    @for (order of filteredOrders(); track order.order_id) {
      <tr>

        <td>{{ order.order_id }}</td>
        <td>{{ order.full_name }}</td>

        <td>
          {{ order.total_price | number }} đ
        </td>

        <td>
          {{ order.order_status }}
        </td>

        <td>
          {{ order.order_date | date:'dd/MM/yyyy HH:mm' }}
        </td>

        <td>

          <button
            (click)="changeStatus(
              order.order_id,
              'delivered'
            )">

            Cập nhật

          </button>

        </td>

      </tr>
    }

  </tbody>

</table>