.product-img{
   width: 100%;
   height: 200px;
   object-fit: cover;
}
.big-banner img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}

.small-banner {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}