<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <a href="{{ url_for('add_product') }}"> thêm sản phẩm</a>
    <h2>Danh sách sản phẩm</h2>

{% for p in products %}
    <p>
        {{ p[1] }} - 
        Giá: {{ p[2] }} - 
        Tồn kho: {{ p[3] }}
        <a href="{{ url_for('checkout', product_id=p[0]) }}">
            Mua ngay
        </a>
    </p>
{% else %}
    <p>
        <p>Chưa có sản phẩm nào</p>
    </p>
{% endfor %}
</body>
</html>