<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="POST">
        <div>username</div>
        <input type="text" name="username" required>
        <div>password</div>
        <input type="password" name="password" required>
        <div>
        <div>repassword</div>
        <input type="repassword" name="repassword" required>
        </div>
        <div>
        <button type="submit">đăng ký</button>
        </div>
        </form>
    </div>
</body>
</html>