<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow" style="width: 350px;">
        <h3 class="text-center mb-4">Quên mật khẩu</h3>

        <form (ngSubmit)="forgotPassword()">
            <p>Nhập email</p>
            <input [ngModel]="email()" (ngModelChange)="email.set($event)" name="email">
            <div>
                <button type="submit" class="btn btn-primary w-100">Xác nhận</button>
            </div>
        </form>
    </div>
</div>