<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand logo" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="d-flex me-3" (ngSubmit)="search()">
        <input class="form-control me-2" [(ngModel)]="keyword" name="keyword">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ms-auto">
        <div class="d-flex justify-content-end">

          <!-- nếu chưa login -->
          <a *ngIf="!cartService.user()" class="nav-link mt-2" routerLink="login">Login</a>

          <div *ngIf="cartService.user()?.role === 'customer'" class="dropdown">
            <button class="btn btn-light" (click)="toggleDropdown()">
              <div class="d-flex align-items-center me-3">

    <img 
      [src]="environment.apiUrl + '/' + cartService.user()?.avatar"
      class="rounded-circle me-2"
      width="40"
      height="40"
      style="object-fit: cover;">

    <span>Welcome {{ cartService.user()?.full_name }}</span>

  </div>
            </button>

            <ul *ngIf="isOpen" class="dropdown-menu show">
              <li *ngIf="cartService.user()?.role === 'customer'">
                <a class="dropdown-item" (click)="gotoprofile()">Quản lý tài khoản</a>
              </li>
              <li *ngIf="cartService.user()?.role === 'customer'">
                <a class="dropdown-item" (click)="gotoordermanagement()">Quản lý đơn hàng</a>
              </li>
              <li *ngIf="cartService.user()?.role === 'customer'">
                <a class="dropdown-item" (click)="gotochangepassword()">Đổi mật khẩu</a>
              </li>
              <li *ngIf="cartService.user()?.role === 'admin'">
                <a class="dropdown-item" (click)="gotoaddproduct()">Thêm sản phẩm</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
              </li>
            </ul>
          </div>

          <li class="nav-item" *ngIf="cartService.user()?.role === 'admin'">
          <a class="nav-link active" routerLink="/admin-home">Home</a>
        </li>

        
        <li class="nav-item dropdown position-relative" *ngIf="cartService.user()?.role === 'admin'">
          <button class="btn btn-light" (click)="toggleMenu('product')">
            Sản phẩm
          </button>
          <ul *ngIf="openMenu === 'product'" class="dropdown-menu show">
            <li *ngIf="cartService.user()?.role === 'admin'">
                <a class="dropdown-item" (click)="gotoaddproduct()">Thêm sản phẩm</a>
              </li>
              <li class="nav-item" *ngIf="cartService.user()?.role === 'admin'">
          <a class="nav-link active mt-2" routerLink="/admin">Quản lý sản phẩm</a>
        </li>
          </ul>
          </li>

          <li class="nav-item dropdown position-relative" *ngIf="cartService.user()?.role === 'admin'">
          <button class="btn btn-light" (click)="toggleMenu('order')">
            Đơn hàng
          </button>
          <ul *ngIf="openMenu === 'order'" class="dropdown-menu show">
            <li *ngIf="cartService.user()?.role === 'admin'">
                <a class="dropdown-item" (click)="gotoorder()">Quản lý đơn hàng</a>
              </li>
              <li *ngIf="cartService.user()?.role === 'admin'">
                <a class="dropdown-item" (click)="gototransaction()">Quản lý giao dịch</a>
              </li>
          </ul>
          </li>

          <li class="nav-item dropdown position-relative" *ngIf="cartService.user()?.role === 'admin'">
          <button class="btn btn-light" (click)="toggleMenu('statistics')">
            Thống kê
          </button>
          <ul *ngIf="openMenu === 'statistics'" class="dropdown-menu show">
            <li *ngIf="cartService.user()?.role === 'admin'">
                <a class="dropdown-item" (click)="gotouserstatistics()">Thống kê người dùng</a>
              </li>
              <li *ngIf="cartService.user()?.role === 'admin'">
                <a class="dropdown-item" (click)="gotoproductstatistics()">Thống kê sản phẩm</a>
              </li>
              <li *ngIf="cartService.user()?.role === 'admin'">
                <a class="dropdown-item" (click)="gotorevenuestatistics()">Thống kê doanh thu</a>
              </li>
          </ul>
          </li>

          <li class="nav-item dropdown position-relative" *ngIf="cartService.user()?.role === 'admin'">
          <button class="btn btn-light" (click)="toggleMenu('other')">
            quản lý khác
          </button>
          <ul *ngIf="openMenu === 'other'" class="dropdown-menu show">
            <li *ngIf="cartService.user()?.role === 'admin'">
                <a class="dropdown-item" (click)="gotousersmanagement()">Quản lý người dùng</a>
              </li>
            <li *ngIf="cartService.user()?.role === 'admin'">
                <a class="dropdown-item" (click)="gotobrand()">Quản lý thương hiệu</a>
              </li>
          </ul>
          </li>
          <li class="nav-item" *ngIf="cartService.user()?.role === 'admin'">
                <a class="nav-link active" style="cursor: pointer;" (click)="logout()">Đăng xuất</a>
              </li>

        </div>
        <li class="nav-item" *ngIf="cartService.user()?.role === 'customer'">
          <a class="nav-link active mt-2" routerLink="/">Home</a>
        </li>
        <li class="nav-item" *ngIf="!cartService.user()">
          <a class="nav-link active mt-2" routerLink="/">Home</a>
        </li>
        <li class="nav-item" *ngIf="cartService.user()?.role === 'customer'">
          <a class="nav-link mt-2" routerLink="cart">cart</a>
        </li>
        <li class="nav-item" *ngIf="!cartService.user()">
          <a class="nav-link mt-2" routerLink="cart">cart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-dark text-light py-4 mt-5">
  <div class="container text-center">

    <h5>Laptop Store</h5>

    <p class="mb-1">
      © 2026 Laptop Store. All rights reserved.
    </p>

    <p class="mb-0">
      Email: support@laptopstore.com |
      Hotline: 0123 456 789
    </p>

  </div>
</footer>