<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand logo" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="d-flex me-3" (ngSubmit)="search()">
        <input class="form-control me-2" [(ngModel)]="keyword" name="keyword">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ms-auto">
        <div class="d-flex justify-content-end">

          <!-- nếu chưa login -->
          <a *ngIf="!cartService.user()" class="nav-link mt-2" routerLink="login">Login</a>

          <div *ngIf="cartService.user()" class="dropdown">
            <button class="btn btn-light" (click)="toggleDropdown()">
              <div class="d-flex align-items-center me-3">

    <img 
      [src]="environment.apiUrl + '/' + cartService.user()?.avatar"
      class="rounded-circle me-2"
      width="40"
      height="40"
      style="object-fit: cover;">

    <span>Welcome {{ cartService.user()?.full_name }}</span>

  </div>
            </button>

            <ul *ngIf="isOpen" class="dropdown-menu show">
              <li *ngIf="cartService.user()?.role === 'customer'">
                <a class="dropdown-item" (click)="gotoprofile()">Quản lý tài khoản</a>
              </li>
              <li *ngIf="cartService.user()?.role === 'customer'">
                <a class="dropdown-item" (click)="gotoordermanagement()">Quản lý đơn hàng</a>
              </li>
              <li *ngIf="cartService.user()?.role === 'customer'">
                <a class="dropdown-item" (click)="gotochangepassword()">Đổi mật khẩu</a>
              </li>
              <li *ngIf="cartService.user()?.role === 'admin'">
                <a class="dropdown-item" (click)="gotoaddproduct()">Thêm sản phẩm</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
              </li>
            </ul>
          </div>

        </div>
        <li class="nav-item" *ngIf="cartService.user()?.role === 'customer'">
          <a class="nav-link active mt-2" routerLink="/">Home</a>
        </li>
        <li class="nav-item" *ngIf="cartService.user()?.role === 'admin'">
          <a class="nav-link active mt-2" routerLink="/admin">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mt-2" routerLink="cart">cart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>